<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleExecutable</key><string>DualShock</string>
    <key>CFBundleIdentifier</key><string>com.tomeleaf.dualshock</string>
    <key>CFBundleName</key><string>DualShock</string>
    <key>CFBundleDisplayName</key><string>DualShock</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundleShortVersionString</key><string>0.2.1</string>
    <key>CFBundleVersion</key><string>3</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>NSBluetoothAlwaysUsageDescription</key><string>用于发现和连接你的蓝牙游戏手柄。</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
</dict></plist>
